body {
    background-color: black;
    margin: 0;
}

#root {
    background-color: black;
    background-image: url('../public/background.jpg');
    background-size: cover;
    position: relative;
}

#root::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}